@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import './variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: black;
  text-decoration: none;
  font-family: 'Open Sans';
  list-style: none;
}